h1{
    text-align: center;
}

.marker{
    /* background-color: red; */
    width: 200;
    height: 25;
    /* When the shorthand margin property has two values,
    it sets margin-top and margin-bottom to the first value, and margin-left and margin-right to the second value. */
    margin: 10 auto;
}

.one{
    background-color: red;
}
.two{
    background-color: green;
  }
  
  .three{
    background-color: blue;
  }