h1{
    text-align: center;
}

.marker{
    /* background-color: red; */
    width: 200;
    height: 25;
    /* When the shorthand margin property has two values,
    it sets margin-top and margin-bottom to the first value, and margin-left and margin-right to the second value. */
    margin: 10px auto;
}

/* Different ways of representing color in css */
.red{
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%); /* Red Green Blue */
    /* Linear Gradients take at least 3 arguments, the degrees and 2 or more colors
    You can also determine where the transition from one color to another happens like shown above
    in the code above */
}
.green{
    /* background: #007f00; Hexadecimal */
    background: linear-gradient(180deg, #55680D, #71F53E, #116C31);
  }
.blue{
    /* background: hsl(240, 100%, 50%); Hue, Saturation, Lightness */
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
  }
  /* RBG is the color model used in electronic devices
    You can also use the RGB function to add color rather than typing out the name of the color like shown above.
    All colors start as black and then start to turn R, B, or G depending on the strength. Max is 255. */

.container{
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.color-tests-secondary{
    background-color: rgb(255, 255, 0);
    background-color: rgb(0, 255, 255);
    background-color: rgb(255, 0, 255);
}
/* Full red and full green = Yellow */
/* Full grren and full blue = Cyan */
/* Full red and full blue = Magenta */

.color-tests-tertiary{
    background-color: rgb(255, 127, 0);
    background-color: rgb(0, 255, 127);
    background-color: rgb(127, 0, 255);
    /* More tertiary colors */
    background-color: rgb(127, 255, 0);
    background-color: rgb(0, 127, 255);
    background-color: rgb(255, 0, 127);
}
/* Full red and half green = Orange*/
/* Full green and half blue = Spring Green */
/* Full blue and half red = Violet */
/* Half red and full green = Chartreuse Green */
/* Half green and full blue = Azure */
/* Half blue and full red = Rose */

/* One thing to remember is that the linear-gradient
 function actually creates an image element, and is 
 usually paired with the background property which 
 can accept an image as a value. */